* {
  font-family: "Lexend Deca", "Helvetica", sans-serif;
  color: black;
  box-sizing: border-box;
}

body {
  background-image: url("assets/homeScreenBackground.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
