* {
  font-family: "Lexend Deca", "Helvetica", sans-serif;
  color: black;
  box-sizing: border-box;
}

body {
  background-image: url("assets/homeScreenBackground.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

/* Header */
header {
  background-color: #0d0d0d; 
  margin: 0;
  padding: 5px;
  text-align: center;
}

header h1 {
  color: white;
}